name: Run

on:
    workflow_dispatch:
        inputs:
            runner:
                required: true
                default: "ubuntu-latest"

jobs:
    run:
        runs-on: ${{ github.event.inputs.runner }}
        permissions: write-all
        steps:
            - name: Cleanup storage
              uses: rokibhasansagar/slimhub_actions@main

            - name: Update packages
              run: |
                  sudo apt update
                  sudo apt upgrade -y
                  sudo apt install neovim -y

            - name: Tailscale
              if: success() || failure()
              env: 
                  TAILSCALE_AUTH_KEY: ${{ secrets.TAILSCALE_AUTH_KEY }}
                  RUNNER_PASSWORD: ${{ secrets.RUNNER_PASSWORD }}
              run: |
                  curl -fsSL https://tailscale.com/install.sh | sh
                  sudo tailscale up --auth-key=$TAILSCALE_AUTH_KEY
                  echo "runner:$RUNNER_PASSWORD" | sudo chpasswd
                  tail -f /dev/null

            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  path: artifacts/*
                  compression-level: 9

            
