name: Run

on:
    workflow_dispatch:
        inputs:
            runner:
                required: true
                default: "ubuntu-latest"
            connection:
                type: choice
                options: [ tailscale, netbird ]
                default: tailscale

jobs:
    run:
        runs-on: ${{ github.event.inputs.runner }}
        permissions: write-all
        steps:
            - name: Cleanup storage
              uses: rokibhasansagar/slimhub_actions@main

            - name: Update packages
              run: |
                  sudo apt update
                  sudo apt upgrade -y
                  sudo apt install neovim -y

            - name: Tailscale
              if: ${{ inputs.connection == 'tailscale' }}
              uses: tailscale/github-action@v4
              with:
                  oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
                  oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
                  tags: tag:ci
                  version: latest

            - name: Netbird
              if: ${{ inputs.connection == 'netbird' }}
              uses: Alemiz112/netbird-connect@v1
              with:
                  setup-key: ${{ secrets.NETBIRD_SETUP_KEY }}

            - name: SSH
              env:
                  RUNNER_PASSWORD: ${{ secrets.RUNNER_PASSWORD }}
              run: |
                  cp /etc/environment $GITHUB_WORKSPACE/environment.bak
                  sudo sed -i '2,$d' /etc/environment
                  echo "runner:$RUNNER_PASSWORD" | sudo chpasswd
                  sleep infinity || true
                  sudo cp $GITHUB_WORKSPACE/environment.bak /etc/environment

            - name: Upload artifacts
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  path: artifacts/*
                  compression-level: 9

            
